<%# Previous message %>
<% prev_msg = messages.select{|msg| msg.id === message.id - 1}[0] %>
<%# Time since last messaege %>
<% msg_offset = prev_msg && message.created_at - prev_msg.created_at %>
<% datetime = message.created_at %>
<%# Datetime %>
<% if !msg_offset || msg_offset >= 1.hour %>
	<% now = Time.current.getlocal %>

	<%# Timestamp %>
	<div align="center" class="ui horizontal divider" data-timestamp="<%= datetime.to_time.iso8601 %>">
		<span class="date"></span>
		<span class="time"></span>
	</div>
	<%# /Timestamp %>

<% end %>
<%#Datetime %>

<%# Message %>
<div class="event">
<div class="content">
<div class="summary">
	
	<%# Message user %>
	<small class="msg-user">
		<%= message.user.username %>
	</small>
	<%# /Message user %>
	
	<%# Message body %>
	<div class="ui grey secondary inverted compact segment">
		<%= message.body %>
	</div>
	<%# /Message body %>
	
	<%# Hidden data %>
	<% prev_msg_user = prev_msg && prev_msg.user %>
	<% prev_msg_user_id = prev_msg_user && prev_msg_user.id %>
	<span class="hidden-data" data-msg_user_id="<%= message.user_id %>" data-prev_msg_user_id="<%= prev_msg_user_id %>"></span>
	<%# /Hidden data %>

</div>
</div>
</div>
<%# /Message %>