<!-- Title -->
<h1 align="center">
	Welcome to Message Now
</h1>
<!-- /Title -->

<!-- Icon -->
<h4 class="ui center aligned medium icon header">
  <i class="circular inverted blue address card icon"></i>
  Log in to continue
</h4>
<!-- /Icon -->

<!-- Panel -->
<div class="ui placeholder segment">
	
	<!-- Content -->
  <div class="ui two column very relaxed stackable grid">

		<!-- Login form -->
    <div class="column">
    <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>
  		
			<!-- Username -->
      <div class="field">
        <%= f.label :username, "Username" %>
        <div class="ui left icon input">
          <%= f.text_field :username, placeholder: "Username" %>
          <i class="user icon"></i>
        </div>
      </div>
      <!-- /Username -->

			<!-- Password -->
      <div class="field">
        <%= f.label :password, "Password" %>
        <div class="ui left icon input">
          <%= f.password_field :password, placeholder: "Password" %>
          <i class="lock icon"></i>
        </div>
      </div>
      <!-- /Password -->

      <!-- Login button -->
      <%= f.button class: "ui blue submit button" do %>
        <i class="sign-in icon"></i>
        Login
      <% end %>
      <!-- /Login button -->

    <% end %>
    </div>
    <!-- /Login form -->
		
    <!-- Workaround for Semantic-UI bug #6637 -->
    <div class="ui horizontal divider" id="horizontal-divider" style="display:none">
      Or
    </div>
    <!-- /Workaround for Semantic-UI bug #6637 -->

		<!-- Sign up button -->
    <div class="middle aligned column">
		<%= link_to signup_path, class: "ui big blue button" do %>
			<i class="user plus icon"></i>
			Sign Up
		<% end %>
    </div>
    <!-- /Sign up button -->

  </div>
  <!-- /Content -->

	<!-- Divider -->
  <div class="ui vertical divider" id="divider">
    Or
  </div>
  <!-- /Divider -->

</div>
<!-- /Panel -->