<h2 class="chatroom-options" id="users-header" data-chatroom_id="<%= chatroom.id %>"><%= chatroom.title %></h2> <!-- Header -->

<div class="ui chatroom-options two top attached buttons" data-chatroom_id="<%= chatroom.id %>">
	<button class="ui button">Edit name</button>
	<button class="ui neg button">Leave</button>
</div>

<!-- Chatrooms -->
<div class="content ui attached chatroom-options chatroom-users" data-chatroom_id="<%= chatroom.id %>">
	<h1>Users:</h1>
</div>
<div class="content ui attached chatroom-options chatroom-users" data-chatroom_id="<%= chatroom.id %>">
<div class="ui list">
<% chatroom.users.each do |user| %>

	<% if user != current_user %>
		<h2 class="item header"><%= user.username %></h2>
	<% end %>

<% end %>
</div>
</div>
<!-- /Chatrooms -->

<div class="ui chatroom-options two bottom attached buttons" data-chatroom_id="<%= chatroom.id %>">
	<button class="ui button">Add users</button>
	<button class="ui neg button">Remove users</button>
</div>