<!-- Form -->
<div class="content new-action">
<%= form_for(chatroom, html: {class: "ui reply form", id: "chatroom-form", role: "form"},
												url: chatroom_path,
												remote: true) do |f| %>
	<div class="field">
	<div class="ui fluid input">

		<%= f.text_field :title, placeholder: "Chatroom name" %>
		
		<%= f.collection_check_boxes :user_ids, User.all, :id, :username do |cb| %>
			<% cb.label(class: 'input-checkbox') {cb.check_box(class: 'checkbox') + cb.text} %>
		<% end %>

		<%= f.button class: "button", id: "room-form" %>

	</div>
	</div>
<% end %>
</div>
<!-- /Form -->

<!-- Users -->
<div class="content new-action" id="users">
<div class="ui link cards">
<% users.each do |user| %>

	<!-- User -->
	<% if user != current_user %>
		<div class="user card" data-user-id="<%= user.id %>">
		<div unselectable="on" class="content">
			<i class = "user icon"></i>
			<b><%= user.username %></b>
		</div>
		</div>
	<% end %>
	<!-- /User -->

<% end %>
</div>
</div>
<!-- /Users -->