<!-- Chatroom title -->
<h1 class="ui center aligned huge header" id="chatroom-header">
  Message
  <i class="blue fitted comment alternate icon"></i>
  Now!
</h1>
<!-- /Chatroom title -->

<!-- Chatroom Body -->
<div class="ui two column grid">

	<!-- Feed -->
	<div class="twelve wide column">
	<div class="ui fluid raised card" id="chatbox">

		<!-- Main content -->
		<div class="content" id="messages">
		<% current_user.chatrooms.each do |chatroom| %>

			<div class="ui large feed message-container" data-chatroom_id="<%= chatroom.id %>">

				<%= render partial: 'messages/message', collection: chatroom.messages, locals: {messages: chatroom.messages} %>

			</div>

		<% end %>
		</div>
		<!-- /Main content -->

		<!-- Form -->
		<div class="extra content">
		<%= form_for(@message, 	html: {class: "ui reply form" , role: "form"},
														url: message_path,
														remote: true) do |f| %>
			<div class="field">
			<div class="ui fluid input">

				<%= f.text_field :body, placeholder: "Enter message" %>

				<%= f.hidden_field :chatroom_id %>

				<%= f.button class: "button", id:"msg-form" %>

			</div>
			</div>
		<% end %>
		</div>
		<!-- /Form -->

		<!-- Dimmer -->
		<div class="ui active dimmer" id="dimmer">
		<div class="content">
		<h2 class="ui inverted icon header">
			<i class="exclamation circle icon"></i>
			<% if current_user.chatrooms.length == 0 %>
				Oops! It doesn't look like you have any chatrooms.
			<% else %>
				Please select a chatroom.
			<% end %>
			
		</h2>
		</div>
		</div>
		<!-- /Dimmer -->

	</div>
	</div>
	<!-- /Feed -->

	<!-- Verticle menu options -->
	<div class="four wide column">
	<div class="ui fluid raised card" id='side-options'>
	
		<%= render partial: 'profile', locals: {chatrooms: current_user.chatrooms} %> <!-- Profile -->
		<%= render partial: 'new_chatroom', locals: {chatroom: @chatroom, users: @users} %> <!-- New chatroom menu -->
		<%= render partial: 'view_chatrooms', locals: {chatrooms: current_user.chatrooms} %> <!-- View chatrooms menu -->

		<!-- Actions -->
		<div class="ui fluid blue vertical buttons">

		  <a class="ui button" id="view">
		  	<i class="sitemap icon"></i>
		  	<div class="floating ui red label" id="chatrooms_badge">0</div>
		    Chatrooms
		  </a>

		  <a class="ui button" id="new">
		  	<i class="tv icon"></i>
		    New Chatroom
		  </a>

		</div>
		<!-- /Actions -->

	</div>
	</div>
	<!-- /Verticle menu options -->

</div>
<!-- /Chatroom body -->

<!-- Hidden data -->
<span id='hidden-user-id'><%= current_user.id %></span>