<!-- Chatroom title -->
<h4 class="ui center aligned medium icon header" id="chatroom-header">
  <i class="circular inverted blue envelope icon"></i>
  Say Something
</h4>
<!-- /Chatroom title -->

<!-- Chatroom Body -->
<div class="ui two column grid">

	<!-- Feed -->
	<div class="twelve wide column">
	<div class="ui fluid raised card chatbox">

		<!-- Main content -->
		<div class="content" id="messages">
		<% @chatrooms.each do |chatroom| %>

			<% if chatroom.users.include? current_user %>
				<div class="ui large feed message-container" data-chatroom_id="<%= chatroom.id %>">
					<%= render partial: 'messages/message', collection: chatroom.messages %>
				</div>
			<% end %>

		<% end %>
		</div>
		<!-- /Main content -->

		<!-- Form -->
		<div class="extra content">
		<%= form_for(@message, 	html: {class: "ui reply form" , role: "form"},
														url: message_path,
														remote: true) do |f| %>
			<div class="field">
			<div class="ui fluid input">

				<%= f.text_field :body, placeholder: "Enter message" %>

				<%= f.hidden_field :chatroom_id %>

				<%= f.button class: "button", id:"msg-form" %>

			</div>
			</div>
		<% end %>
		</div>
		<!-- /Form -->

	</div>
	</div>
	<!-- /Feed -->

	<!-- Verticle menu options -->
	<div class="four wide column">
	<div class="ui fluid raised card chatbox" id='side-options'>
	
		<%= render partial: 'new_chatroom', locals: {chatroom: @chatroom, users: @users} %> <!-- New chatroom menu -->
		<%= render partial: 'view_chatrooms', locals: {chatrooms: @chatrooms} %> <!-- View chatrooms menu -->

		<div class="content" id="format"></div> <!-- Div for fixing formatting -->

		<!-- Actions -->
		<div class="ui fluid blue vertical buttons">

		  <a class="ui button" id="view">
		  	<i class="sitemap icon"></i>
		    Chatrooms
		  </a>

		  <a class="ui button" id="new">
		  	<i class="tv icon"></i>
		    New Chatroom
		  </a>

		</div>
		<!-- /Actions -->

	</div>
	</div>
	<!-- /Verticle menu options -->

</div>
<!-- /Chatroom body -->

<!-- Hidden data -->
<span id='hidden-user-id'><%= current_user.id %></span>