<!-- Left hand options -->
<%= link_to "Chatroom", root_path, class: "item" %>
<%= link_to "Messages", "", class: "item" %>
<!-- /Left hand options -->

<!-- Right hand options -->
<div class="right menu">

  <!-- Dropdown -->
  <% if logged_in? %>
    <div class="ui dropdown item">

      Account <i class="dropdown icon"></i>

      <div class="menu">
        <%= link_to "Log in", login_path, class: "item" %>
        <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
        <!--%= link_to "Sign up", "", class: "item" %-->
      </div>
      
    </div>
  <% end %>
  <!-- /Dropdown -->

  <!-- Sign up button -->
  <% if !logged_in? %>

    <div class="item">
    <%= link_to "Log in", login_path, class: "ui primary button" %>
    </div>

    <div class="item">
    <%= link_to "Sign up", "", class: "ui primary button" %> 
    </div>

  <% end %>
  <!-- /Sign up button -->

</div>
<!-- /Right hand options -->